@import '../../../styles/variables';

.select-box {
  height: 3rem;
  border: 0.05rem solid $lightGrayColor;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;

  &:active,
  &:focus-within {
    border: 0.13rem solid $dodgerBlueColor;
    margin-bottom: 0.84rem;

    &::before {
      color: $dodgerBlueColor;
    }

    &::after {
      border-color: $dodgerBlueColor;
    }
  }

  &::before {
    display: inline-block;
    position: absolute;
    left: 0.5rem;
    content: 'Year';
    font-size: 1rem;
    color: $suvaGrayColor;
    z-index: 0;
  }

  &::after {
    width: 0.13rem; 
    height: 0.13rem; 
    border: solid $dimGrayColor;
    border-width: 0 0.13rem 0.13rem 0;
    display: inline-block;
    padding: 0.19rem;
    transform: rotate(45deg);
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    content: '';
    z-index: 0;
  }

  select {
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;
    background: none;
    font-size: 1.1rem;
    padding-top: 1.3rem;
    padding-left: 0.5rem;
    color: $blackColor;
    cursor: pointer;
    outline: none;
    z-index: 1;
    -webkit-appearance: none;
  }
}
