$dodgerBlueColor: rgb(29, 161, 242);
$mayaBlueColor: rgb(86, 201, 255);
$summerSkyColor: #1B9EE5;
$whiteColor: #FFFFFF;
$whiteSmokeColor: #F4F4F4;
$blackColor: #000000;
$grayColor: #808080;
$lightGrayColor: #CCCCCC;
$suvaGrayColor: rgb(139, 139, 139);
$dimGrayColor: rgb(102, 102, 102);
