@import '../../../../styles/variables';

.close_button {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100%;
  background-color: $whiteColor;

  &:hover {
    background-color: $whisperColor;
  }
}
