.button {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  background-color: rgb(86, 201, 255);
  border: 1px solid rgb(86, 201, 255);
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  outline: none;

  &:hover {
    background-color: #FFFFFF;
    color: rgb(86, 201, 255);
  }
}

.flat {
  background-color: #FFFFFF;
  color: rgb(86, 201, 255);

  &:hover {
    color: #FFFFFF;
    background-color: rgb(86, 201, 255);
  }
}
