@import '../../styles/variables.scss';

.landing {
  display: flex;

  .side-banner {
    background-color: $mayaBlueColor;
    width: 45rem;
    height: 100vh;
    overflow: hidden;

    img {
      height: 90rem;
      margin-left: -18rem;
      margin-top: -20rem;
    }

    .banner-content {
      display: flex;

      ul {
        position: relative;
        top: -54rem;
        left: 2rem;
        list-style: none;
  
        li {
          margin: 1.2rem -1rem;
          color: $whiteColor;
          font-size: 1rem;
          font-weight: 500;
  
          img {
            height: 2rem;
            margin-left: 12rem;
          }
        }
      }
    }
  }

  .content {
    margin: 8rem;
  }
}
