@import '../../styles/variables.scss';

.logo {
  margin-left: 15rem;
}

.form {
  p {
    margin-top: -1rem;
    color: $grayColor;
  }
}

.birth-date {
  display: flex;
  justify-content: space-between;
}
